<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- fill in button. (element) btn.mt3 (. for spaces) class (button marginTop3 & bottom) & then push Tab -->
      <button class="btn btn-outline-success mt-3 mb-3">Add New Quiz</button>
     
      <div class="card">
        <!-- flush won't draw double borders around it & action lets it color on hover -->
        <div class="list-group list-group-flush">
          <!-- d-flex is for Flex layout -- Pixel Perfect?? is align items center -->
          <!-- [class.active] - if class is active (true) show active (highlighted) -->
          <button 
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            *ngFor="let q of quizzes"
            (click)="selectQuiz(q)"
            [class.active]="q === selectedQuiz"
          >
            <!-- get variable -->
            {{ q.quizName }}
            <small class="font-itallic font-weight lighter">
              {{ q.quizQuestions.length }} questions
            </small>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8"
      *ngIf="selectedQuiz != undefined"
    >
      <div>
        <button class="btn btn-outline-dark mt-3 mb-3">Save</button>
        <button class="btn btn-link">Cancel</button>
      </div>
      <div class="card">
        <div class="card-header">General</div>
        <div class="card-body">{{ selectedQuiz.quizName }}</div>
      </div>
      <div class="card mt-3">
        <div class="card-header">Questions</div>
        <div class="card-body">Coming Soon..</div>
      </div>
      <div class="card mt-3">
        <div class="card-header">Other</div>
        <div class="card-body">Coming Soon..</div>
      </div>
    </div>
    <div 
      class="col-md-8 mt-3"
      *ngIf="selectedQuiz === undefined"  
    >
      <div class="card bg-light text-center">
        <h2>No Quiz Selected</h2>
        <p>Select or add a new quiz</p>
      </div>
      

    </div>
  </div>
</div>
